table.rounded-corners {
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;
    border: 1px solid rgb(210, 210, 210);
   }
   
   /* Apply a border to the right of all but the last column */
   table.rounded-corners th:not(:last-child),
   table.rounded-corners td:not(:last-child) {
    border-right: 1px solid rgb(210, 210, 210);
   }
   
   /* Apply a border to the bottom of all but the last row */
   table.rounded-corners>thead>tr:not(:last-child)>th,
   table.rounded-corners>thead>tr:not(:last-child)>td,
   table.rounded-corners>tbody>tr:not(:last-child)>th,
   table.rounded-corners>tbody>tr:not(:last-child)>td,
   table.rounded-corners>tfoot>tr:not(:last-child)>th,
   table.rounded-corners>tfoot>tr:not(:last-child)>td,
   table.rounded-corners>tr:not(:last-child)>td,
   table.rounded-corners>tr:not(:last-child)>th,
   table.rounded-corners>thead:not(:last-child),
   table.rounded-corners>tbody:not(:last-child),
   table.rounded-corners>tfoot:not(:last-child) {
    border-bottom: 1px solid rgb(210, 210, 210);
}